<%- include("header") -%>

<h2>This is a header and footer tester</h2>
<p>
  Lorem EpsumLorem EpsumLorem EpsumLorem EpsumLorem EpsumLorem EpsumLorem
  EpsumLorem EpsumLorem EpsumLorem EpsumLorem EpsumLorem EpsumLorem EpsumLorem
  EpsumLorem EpsumLorem EpsumLorem Epsum
</p>

<%- include("footer") -%>
